.side-bar {
  width: 120px;
  background: rgb(79, 78, 129);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

#main {
  margin-left: 120px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.descricao {
  display: none;
}

.titulo {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.dadosPessoais {
  max-width: 350px;
}

.tituloEmprego {
  font-size: 1.2rem;
  font-weight: bold;
}

.links {
  text-decoration: none;
}
